@page
@using Proiect_MDP_Web.Models
@model Proiect_MDP_Web.Pages.Servicii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Serviciu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Serviciu.TipServiciu" class="control-label"></label>
                <select asp-for="Serviciu.TipServiciu" class="form-control" asp-items="Html.GetEnumSelectList<TipServiciu>()"></select>
                <span asp-validation-for="Serviciu.TipServiciu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serviciu.ClientID" class="control-label"></label>
                <select asp-for="Serviciu.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Serviciu.RachetaID" class="control-label"></label>
                <select asp-for="Serviciu.RachetaID" class ="form-control" asp-items="ViewBag.RachetaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Serviciu.ReturnDate" class="control-label"></label>
                <input asp-for="Serviciu.ReturnDate" class="form-control" />
                <span asp-validation-for="Serviciu.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
